.venv/
.env

ml/__pycache__
ml/src/results
ml/src/datasets
ml/src/test
ml/src/metrics
ml/src/__pycache__
ml/src/test_on_client
ml/src/results_ft

backend/app/__pycache__
backend/app/api/__pycache__
backend/app/services/__pycache__

frontend/node_modules

storage

tests/

nginx/conf
nginx/contrib/
nginx/docs
nginx/html
nginx/logs
nginx/temp
nginx/nginx.exe